<ion-menu persistent="true" class="menu" [content]="content" *ngIf="this.platform.dir()==='ltr'" side="left">
  
  <ion-content class="sidebar-menu">
    <ion-row class="img-name-row">
      <ion-col>
        <img class="user-img" src="{{imageUrl}}">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="isLoggedin()">
        <p class="user-name">{{name | uppercase}}</p>
      </ion-col>
    </ion-row>

    <button menuClose class="menu-item" ion-item (click)="home()">
      <ion-icon name="home" item-left></ion-icon>
      Home
    </button>
    <button menuClose class="menu-item" ion-item (click)="catagory()">
      <ion-icon name="apps" item-left></ion-icon>
      Categorias
    </button>
    <!--<button *ngIf="isCart()" menuClose class="menu-item" ion-item (click)="offer()">
      <ion-icon name="pricetag" item-left></ion-icon>
      {{'Ofertas'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInOffer}}</ion-badge>
    </button>-->
    <button menuClose class="menu-item" ion-item (click)="addToCart()">
      <ion-icon name="cart" item-left></ion-icon>
      Meu Carrinho
      <ion-badge class="menu-badge">{{noOfItemsInCart}}</ion-badge>
    </button>
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="yourOrders()">
      <ion-icon name="md-list-box" item-left></ion-icon>
      Meus Pedidos
    </button>
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="ordersSchedule()">
      <ion-icon name="timer" item-left></ion-icon>
      Meus Pedidos Agendados
    </button>

    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="settings()">
      <ion-icon name="settings" item-left></ion-icon>
      Meus Dados
    </button>

    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="meusEnderecos()">
      <ion-icon name="md-pin" item-left></ion-icon>
      Meus Endereços
    </button>

    <button menuClose class="menu-item" ion-item (click)="aboutUs()">
      <ion-icon name="contacts" item-left></ion-icon>
      Sobre Nós
    </button>

    <!--<button menuClose class="menu-item" ion-item (click)="contact()">
      <ion-icon name="call" item-left></ion-icon>
      Contato
    </button>-->

    <button *ngIf="!isLoggedin()" menuClose class="menu-item" ion-item (click)="login()">
      <ion-icon name="log-in" item-left></ion-icon>
      Entrar
    </button>
    <button *ngIf="isLoggedin()" ion-item (click)="logout()" menuClose class="menu-item">
      <ion-icon name="log-out" item-left></ion-icon>
      Sair
    </button>
  </ion-content>

  <ion-footer>
    <p style="font-size: 12px; text-align: center;" ion-text color="light">26.665.619/0001-09<br>
      Super Horti Comércio de Verduras e Legumes LTDA</p>
  </ion-footer>

</ion-menu>

<ion-menu persistent="true" class="menu" [content]="content" *ngIf="this.platform.dir()==='rtl'" side="right">
  <ion-content class="sidebar-menu">
    <ion-row class="img-name-row">
      <ion-col>
        <img class="user-img" src="{{imageUrl}}">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="isLoggedin()">
        <p class="user-name">{{name}}</p>
      </ion-col>
    </ion-row>

    <button menuClose class="menu-item" ion-item (click)="home()">
      <ion-icon name="home" item-left></ion-icon>
     Home
    </button>
    <button menuClose class="menu-item" ion-item (click)="catagory()">
      <ion-icon name="apps" item-left></ion-icon>
      Categorias
    </button>
    <!--<button *ngIf="isCart()" menuClose class="menu-item" ion-item (click)="offer()">
      <ion-icon name="pricetag" item-left></ion-icon>
      {{'Ofertas'| translate}}
      <ion-badge class="menu-badge">{{noOfItemsInOffer}}</ion-badge>
    </button>-->
    <button menuClose class="menu-item" ion-item (click)="addToCart()">
      <ion-icon name="cart" item-left></ion-icon>
      Meu Carinho
      <ion-badge class="menu-badge">{{noOfItemsInCart}}</ion-badge>
    </button>
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="yourOrders()">
      <ion-icon name="timer" item-left></ion-icon>
      Meus Pedidos
    </button>
    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="ordersSchedule()">
      <ion-icon name="timer" item-left></ion-icon>
      Meus Pedidos Agendados
    </button>

    <button *ngIf="isLoggedin()" menuClose class="menu-item" ion-item (click)="settings()">
      <ion-icon name="settings" item-left></ion-icon>
      Configurações
    </button>

    <button menuClose class="menu-item" ion-item (click)="aboutUs()">
      <ion-icon name="contacts" item-left></ion-icon>
      Sobre Nós
    </button>

    <!--<button menuClose class="menu-item" ion-item (click)="contact()">
      <ion-icon name="call" item-left></ion-icon>
      Contato
    </button>-->

    <button *ngIf="!isLoggedin()" menuClose class="menu-item" ion-item (click)="login()">
      <ion-icon name="log-in" item-left></ion-icon>
      Entrar
    </button>
    <button *ngIf="isLoggedin()" ion-item (click)="logout()" menuClose class="menu-item">
      <ion-icon name="log-out" item-left></ion-icon>
      Sair
    </button>
  
  </ion-content>

  <ion-footer>
    <p style="font-size: 12px; text-align: center;" ion-text color="light">26.665.619/0001-09<br>
      Super Horti Comércio de Verduras e Legumes LTDA</p>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<!--<ion-footer class="hide-on-keyboard-open ion-no-border">-->
<!--<ion-footer class="ion-no-border">-->
  <!--<ion-toolbar>
      <p style="font-size: 12px; text-align: center;" ion-text color="light">26.665.619/0001-09<br>
      Super Horti Comércio de Verduras e Legumes LTDA</p>
      <br>
  </ion-toolbar>
</ion-footer>-->